form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 50%; */
    padding: 50px;
    background-color: #00000010;
    border-radius: 24px;
    box-shadow: 7px 6px 10px rgba(99, 97, 97, 0.575);
}
#nameInput, #gradeInput{
    width: 260px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #8a7e7e;
}
button{
    border: 1px solid chocolate;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    color: #8a7e7e;
}